{port_specs, [
    {"priv/gsm_coder.so", [
        "c_src/*.c"
    ]}
]}.

{port_env, [
    {"CFLAGS", "$CFLAGS -Ic_src/ -g -Wall -Werror -O2 -fno-strict-aliasing"}
]}.

{plugins, [pc]}.
{provider_hooks,
    [
        {pre,
            [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]
        }
    ]
}.